<html>
	<head>
		<title>DMGAME</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		
		<link href="/static/css/game.css" media="screen" rel="stylesheet" type="text/css">

		<script type="text/javascript" src="/static/js/jquery-1.6.2.min.js"></script>
		<script type="text/javascript" src="/static/js/jquery.json-2.2.min.js"></script>
		<script type="text/javascript" src="/static/js/web-socket-js/swfobject.js"></script>
		<script type="text/javascript" src="/static/js/web-socket-js/web_socket.js"></script>
		
		<script type="text/javascript" src="/static/js/jquery.dmgame.js"></script>
		<script type="text/javascript" src="/static/js/jquery.dmgame.dispatcher.js"></script>
		<script type="text/javascript" src="/static/js/jquery.dmgame.ws-loader.js"></script>
		<script type="text/javascript" src="/static/js/jquery.dmgame.auth.js"></script>
		<script type="text/javascript" src="/static/js/jquery.dmgame.hall.js"></script>
		<script type="text/javascript" src="/static/js/jquery.dmgame.game.js"></script>
		<script type="text/javascript">
			
			$(document).ready(function() {
				$.dmgame.wsLoader('/static/swf/WebSocketMain.swf', 'ws://game.mic-dm.tom.ru:8888');
				$.dmgame.auth();
				$.dmgame.hall();
				$.dmgame.game($('#game_container'));
			});

		</script>
	</head>
	<body>
		<div id="game_container"></div>
	</body>
</html>
